name: Scan Snyk

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  security:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      # Build das dependencias dentro do CI/CD
      - name: Install dependencies
        run: npm install 

        #Execução do check de Snyk como SCA
      - name: Run Snyk to check for vulnerabilities
        uses: snyk/actions/node@master
        env:
          SNYK_TOKEN: ${{ secrets.SNYK_TOKEN }}
        with:
          #Bloqueio de vulnerabilidades Altas e Críticas, analisa todos os projetos.
          args: --severity-threshold=high --all-projects